language: ruby
rvm: 2.5.6
env:
  global:
  - BUNDLE_PATH=${TRAVIS_BUILD_DIR}/vendor/bundle
cache:
  directories:
  - ${TRAVIS_BUILD_DIR}/vendor/bundle
before_install:
- git clone https://github.com/ManageIQ/manageiq.org ${TRAVIS_BUILD_DIR}/manageiq.org
- cd ${TRAVIS_BUILD_DIR}/manageiq.org
script:
- "true"
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: manageiq.org/dest
  repo: ManageIQ/manageiq.github.io
  target_branch: master
  keep_history: true
  on:
    branch: build
notifications:
  webhooks:
    urls:
    - https://webhooks.gitter.im/e/bccd4e19564e564508d1
    on_success: change
    on_failure: always
    on_start: never
