language: ruby
rvm: 2.5.6
env:
  global:
  - JEKYLL_ENV=production
  - MIQ_ENV=production
  - BUNDLE_PATH=${TRAVIS_BUILD_DIR}/vendor/bundle
cache:
  directories:
  - ${TRAVIS_BUILD_DIR}/vendor/bundle
before_install:
- git clone https://github.com/ManageIQ/manageiq.org
- cd manageiq.org
script:
- "exe/miq build all"
deploy:
  provider: script
  skip_cleanup: true
  script: ${TRAVIS_BUILD_DIR}/deploy.sh
  on:
    branch: build
notifications:
  webhooks:
    urls:
    - https://webhooks.gitter.im/e/bccd4e19564e564508d1
    on_success: change
    on_failure: always
    on_start: never
